name: background_locator
description: A Flutter plugin to request the location even if the app is killed. Sending the location to a dart function in background, also provide a meter filter
version: 1.1.5+1
homepage: https://github.com/rekab-app/background_locator

environment:
  sdk: ">=2.6.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  plugin:
    androidPackage: rekab.app.background_locator
    pluginClass: BackgroundLocatorPlugin
