name: build

on:
  push:
    branches: [ master ]
    tags: 
      - '*'
  
jobs:
  build:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-java@v1
      with:
        java-version: '12.x'
    - uses: subosito/flutter-action@v1.2.0
    
    - name: Install dependencies
      run: flutter pub get
    - name: Build debug akp
      run: flutter build apk --debug
    - name: Build debug ios app
      run: flutter build ios --debug --no-codesign
